
h1{
    font-size: 200%; 
    font-family: "Times New Roman", Times, serif;
    color:violet;
    text-decoration: underline;
}
img{
    
}
p1 {
    text-align:left;
    font-family: "Times New Roman", Times, serif;
    margin-right: 200px;
    margin-left:20px;
    
}
header {
    font-family: "Times New Roman", Times, serif;
    
}
h3{
    
}
h2{
    
}