#nav_bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0 5%;
	text-align: center;
	align-items: center;
	overflow: hidden;
	background-color: #333;
}
#nav_bar ul li{
	margin-left: 2.5%;
	margin-right: 2.5%;
	font-size: 18px;
	display: inline;
	float: left;
	
}
#nav_bar ul li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 17px;
	text-decoration: none;
}
#nav_bar ul li a:hover{
background-color: #111;
}
#small_nav {
	display: none;
	width: 100%;
}

@media only screen and (max-width: 1600px){
	#nav_bar ul{
		padding: 0;
	}
	#nav_bar ul li{
		margin: 0;
		margin-left: 3%;
		font-size: 17px;
	}
}
@media only screen and (max-width:1150px){
	#nav_bar{
		display: none;
	}
	#small_nav{
		display: block;
	}
	.slicknav_menu {
		background-color: #333 !important;
	}
	
}
body{
    font-family: "RockWell", "sans-serif", Arial;
}
body p {
	text-align: center;
	font-style: italic;
	padding-top: 20px;
}
body h1{
    text-align: center;
}
body h2{
    text-align: center;
}
.container img{
    float: right;
    width: 12%;
    height: 12%;
}
.container{
    width: 100%;
    height: auto;
    padding: 1%;
}
*{
    box-sizing: border-box;
}
.img-container{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.img-container img{
    width: 500px;
    height: auto;
    max-width: 65%;
    border: 2px solid black;
    margin-left: 2.5em;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    justify-content: center;
}
.img-container img:hover
{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

main h2 {
	font-size: 28px;
	padding-top: 20px;
	padding-bottom: 20px;
}
main h3 {
	font-size:26px;
	padding-left: 30px;
	font-style: bold;
}
main ul li {
	font-size: 22px;
	padding-top: 20px;
	padding-bottom: 10px;
}