            /* the reset selector*/

* {
    margin: 0;
    padding: 0;
  }

            /* the styles for the elements */

html {
    background-color: white;
      }

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
    }

a:hover,a:focus{
    font-style: italic;
                }


            /* the styles for the header */

header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background-image: -webkit-linear-gradient(30deg, #f6bb73 0%,#f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
        }

header img {
	float: left;
    padding-right: 30px;
    padding-left: 30px;
            }

header h2 {
    font-size: 170%;
    color: #800000;
          }

header h3 {
    font-size: 130%;
    font-style:italic;
          }

.shadow {
    text-shadow: 1px 1px 10px #800000;
        }

           
            /*the styles for the main*/

main {
	clear: left;
}
h1 {
    font-size: 150%;
    padding-top: .5em;
    padding-bottom: .25em;
    margin: 0;
}
             /* the styles for the section */

Section {
    width: 525px;
    float: right;
    padding left: 20px;
    padding bottom: 20px;
        }

section h2 {
    font-size: 130%;
    color: #800000;
    padding-top: .5em;
    padding-bottom: .25em;
           }

section p {
    padding-bottom: .5em;
    padding-top: .5em;
          }

section blockquote{
    padding: 0em 2em 0em 2em;
    font-style:italic;
                  }

section ul {
    padding-bottom: .25em;
    padding-left 1.25em;
           }

section li {
    padding-bottom: .35em;
        }
article {
    padding-top: .5em;
    color:#80000;
    border-bottom: 2px;
    border-top: 2px;
        }
article img {
    float: right;
    margin: 20px 0 20px 20px;
    border: 1px solid black; 
             }
article h2 {
    padding-top: 0;
            }
article h3 { 
    font-size: 105%;
    padding-bottom: .25em;
}


            /* the styles for the aside*/ 

aside {
    width: 215px;
    float: right;
    padding left: 20px;
    padding bottom: 20px;
      }

aside h2 {
    font-size: 130%;
    color : #800000;
    padding-top: .5em;
    padding-bottom: .25em;
        }
            
aside h3 {
    font-size: 105%;
    padding-bottom:.25em;
        }

aside img{
    padding-bottom: 1em;
          }

            /* the styles for the footer */

footer {
    border-top: 3px solid #931420;
    background-color: #931420;
    clear: both;
        }

footer p {
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
          }
