@charset "utf-8";
/* CSS Document */

/* Left side grid */
.gridLeft {
	grid-template: auto / auto auto auto;
	grid-template-areas:
		"img"
		"gif"
		"info";
}	

#left img {
	grid-area: gif;
	margin: 2em 0 0 1.5em;
	width: 80%;
	padding-left: .25em;
}

#left p {
	grid-area: info;
	text-align: center;
	color: #ffb443;
	font-size: 2vw;
	margin-top: -5em;
	padding-left: .25em;
}

/* Center grid */
.gridCenter {
	grid-template: auto auto / auto auto;
	grid-template-areas:
		"back back"
		"navi back";
}

main img {
	margin: 1em;
    width: 95%;
}

nav {
	grid-area: navi;
}


nav ul {
	margin-left: 2em;
}