@charset "utf-8";
/* CSS Document */

/* Center grid */
.gridCenter {
    padding: 3em;
}

nav {
	margin-top: 12.5em;
}

iframe {
	border: 0;
	margin: 0;
}

.mapouter{
	text-align:right;
	height:500px;
	width:600px;
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:500px;
	width:600px;
}

.gridCenter {
    text-align: center;
}

.gridCenter p {
    font-size: 2.5vw;
    color: #ffb443;
}

.gridCenter #hours {
    display: inline;
}

.gridCenter div {
    margin: auto;
}